.chapter {
    &__title {
        display: block;
        height: 50px;
        margin: 15px 0 5px 0;
        border: 1px solid black;
        border-radius: 5px;

        text-align: left;
        background-color: white;
    }

    &__title:focus {
        background-color: #FFD400;
    }

    &__text {
        display: none;
    }

    &__title:focus+&__text,
    &__text:hover {
        display: block;
    }

    &__text {
        margin: 15px;
        border: 1px solid black;
        border-radius: 5px;

        text-align: left;
        background-color: white;
    }
}