$bottun-color: #00a3c0;
$bottun-color-active: #ffd400;
$bottun-color-save-all: #179744;
$bottun-color-exit: #F00431;

.info {
    width: 750px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 25px auto;

    display: flex;
    justify-content: space-between;
    background-color: white;

    &__userpic {
        margin: 25px 25px 0;
        align-self: flex-start;
    }

    &__list {
        margin: 25px 0 25px 25px;
    }

    &__title {
        margin-top: 0;
        font-family: "Roboto", sans-serif;
        font-size: 16pt;
        font-weight: bold;
    }

    &__text {
        font-family: "Roboto", sans-serif;
        font-size: 14pt;
    }

    .userpic {
        width: 250px;
        border: 1px solid black;
        border-radius: 5px;
        padding: 15px;

        &__img {
            width: 100%;
            display: block;
        }
    }

    .list {
        width: 500px;

        &__item {
            margin-bottom: 15px;
        }
    }

    .change {
        &__input {
            display: block;
            padding-left: 15px;
            margin-top: 15px;
        }

        &__btn {
            display: block;
            margin-top: 10px;
        }
    }

    .input {
        height: 35px;

        border-radius: 5px;
        border: 1px solid black;

        &_text {
            width: 350px;
        }

        &_area {
            max-width: 350px;
            min-width: 350px;
        }
    }

    .text_area {
        padding: 5px 0 0 15px;
        border-radius: 5px;
        border: 1px solid black;
    }

    .action {
        width: 370px;
        display: flex;
        justify-content: space-between;
    }

    .btn {
        height: 40px;
        border: 1px solid black;
        border-radius: 5px;

        &-save {
            width: 100px;
        }

        &-save_all {
            width: 200px;
            background-color: $bottun-color-save-all;
        }

        &-exit {
            width: 100px;
            background-color: $bottun-color-exit;
        }
    }
}