.main-page {
    width: 1000px;
    // border: 1px solid black;
    border-radius: 5px;
    margin: 25px auto;

    // background-color: white;
    font-family: 'Roboto', sans-serif;

    .title {
        text-align: center;
    }

    .text-container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        border: 1px solid black;
        border-radius: 5px;
        background-color: white;
      

        .hello-img {
            width: 300px;
            padding: 50px 5px 50px 5px;
         
        }

        .text {
            width: 450px;
            padding: 50px;
            border: 1px solid black;
            border-radius: 5px;
            background-color: #00A3C0;
        }
    }
}