$bottun-color: #00a3c0;
$bottum-color-active: #ffd400;

.filter {
  width: 250px;

  border: 1px solid black;
  border-radius: 5px;
  margin-right: 10px;
  background-color: white;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  p {
    margin: 10px;
  }

  &__title {
    margin: 20px;
  }

  &__item {
    width: 100%;
    margin: 5px;
    border-bottom: 1px solid black;

    text-align: center;
  }

  &__input {
    margin: 15px;
  }

  &__item:last-child {
    border-bottom: 0;
  }

  .input {
    height: 40px;
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 5px;
    padding-left: 15px;
    
    &_text {
      width: 180px;
      padding-left: 15px;
    }
  
    &_half {
      width: 75px;
     
    }
  }
  
  .btn {
    width: 150px;
    height: 40px;
    margin: 15px;
    border: 1px solid black;
    border-radius: 5px;
  
    background-color: $bottun-color;
  }
  
  .btn:hover {
    background-color: $bottum-color-active;
  }
}

