$bottun-color: #00a3c0;
$bottum-color-active: #ffd400;

.filter {
  width: 250px;

  border: 1px solid black;
  border-radius: 5px;
  margin-right: 10px;
  background-color: white;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  .item {
    width: 100%;
    margin: 5px;
    border-bottom: 1px solid black;

    text-align: center;

    .title {
      margin: 20px;
    }

    p {
      margin: 10px;
    }

    .input {
      height: 40px;
      margin: 15px;
      padding: 0 5px 0 15px;
      border: 1px solid black;
      box-sizing: border-box;
      border-radius: 5px;
    }

    .input-text {
      width: 180px;
    }

    .half-container {
      width: 150px;
      margin: auto;

      display: flex;
      justify-content: space-around;

      .input-half {
        width: 75px;
      }
    }

    .submit {
      width: 180px;
      height: 40px;
      margin: 15px;      
      border: 1px solid black;
      border-radius: 5px;

      background-color: $bottun-color;
    }
  
    .submit:hover {
      background-color: $bottum-color-active;
      border: 1px solid $bottum-color-active;
    }
  }

  .item:last-child {
    border-bottom: 0;
  }


}
