$bottun-color: #00a3c0;
$bottum-color-active: #ffd400;

.register {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Roboto", sans-serif;

  .form {
    width: 400px;
    padding-bottom: 20px;

    border: 1px solid black;
    border-radius: 5px;
    background-color: white;

    .title {
      margin: 20px;
      font-size: 16pt;
      text-align: center;
    }

    .item {
      margin: 15px;

      .input {
        display: block;
        width: 300px;
        height: 25px;
        margin: auto;
        padding: 10px 5px 10px 15px;

        border: 1px solid black;
        border-radius: 5px;
      }

      .btn {
        display: block;
        height: 50px;
        width: 125px;
        margin: auto;

        border: 1px solid black;
        border-radius: 5px;

        background-color: $bottun-color;

        font-size: 11pt;
        line-height: 16px;
      }

      .btn:hover {
        background-color: $bottum-color-active;
      }
    }
  }
}
