.header {
    height: 80px;
    background-color: #FFD400;

    display: flex;
    align-items: center;

    &__img {
        height: 60px;
        padding: 0 20px 0 20px;
        position: absolute;
        margin-left: 30px;
        background-color: white;
        border-radius: 5px;
    }

    &__menu {
        margin: auto;
        height: 100%;   
    }
}

.menu {
    width: 600px;
    display: flex;

    &__item {
        height: 100%;
        width: 100px;

        display: flex;
        align-items: center;
        justify-content: center;

        text-align: center;
        color: black;
        text-decoration: none;
    }

    &__item:hover {
        background-color: #00A3C0;
    }
}