.header {
    height: 80px;
    background-color: #FFD400;

    display: flex;
    align-items: center;

    .img {
        height: 60px;
        padding: 0 20px 0 20px;
        margin-left: 30px;
        background-color: white;
        border-radius: 5px;
    }

    .nav {
        height: 100%;
        width: 600px;
        margin: auto;

        display: flex;

        .item {
            height: 100%;
            width: 100px;

            display: flex;
            align-items: center;
            justify-content: center;

            text-align: center;
            color: black;
            text-decoration: none;
        }

        .item:focus {
            border: 0;
        }

        .item:hover {
            background-color: #00A3C0;
        }
    }


}