$bottun-color: #00a3c0;
$bottum-color-active: #ffd400;

.user {
    width: 400px;
    padding: 15px 0 15px 0; 
    margin: 150px auto;

    border: 1px solid black;
    border-radius: 5px;

    background-color: white;

    font-family: 'Roboto', sans-serif;

    .userpic {
        display: block;
        width: 200px;
        margin: auto;
    }

    p {
        text-align: center;
        margin: 15px;
    }

    .btn {
        display: block;
        height: 50px;
        width: 125px;
        margin: auto;

        border: 1px solid black;
        border-radius: 5px;

        background-color: $bottun-color;

        font-size: 11pt;
        line-height: 16px;
    }
}